@import 'styles/shared.scss';

.TodoForm {
  @extend %frame;

  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 50px;
}

.TodoForm__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.TodoForm__label {
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 600;
  color: $secondary-accent;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
}

.TodoForm__input {
  padding: 5px 10px;
  min-height: 30px;
  font-weight: 500;
  color: $accent-text;
  outline: none;
  border: none;
  border-bottom: 1px solid $secondary-accent;
  border-radius: 2px;
  resize: vertical;
  overflow: auto;
  font-size: 14px;

  &:focus {
    background-color: $bg-accent;
    border-bottom: 2px solid $secondary-accent;
  }
}

.TodoForm__btn {
  @extend %button;

  padding: 10px 15px;
  max-width: 160px;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}
